openfabric-test/code_files/wiki_data_full.pickle
openfabric-test/trained/
wiki_data_full.pickle
wiki_data.json
wiki_data.pickle
test.py
openfabric-test/__pycache__/
openfabric-test/ontology_dc8f06af066e4a7880a5938933236037/__pycache__/
